{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>Edit Page</h1>
    <form action="{%url 'save_edit'%}" method="POST">
        {% csrf_token %}
        <label for="">Title</label>
        <input class="search" type="text" name="title" placeholder="Enter title" value="{{title}}">
        <label>Content</label>
        <br>
        <textarea name="content" rows="12" cols="20" placeholder="Start writing content...">{{content|safe}}</textarea>
        <br>
        <input type="submit" value="Save Edit" class="btn btn-primary">
    </form>

{% endblock %}